
@{
    ViewBag.Title = "_LeftMenuPartial";
}

<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>
        <li class="active">
            <a href="charts.html"><i class="fa fa-fw fa-ticket"></i> Novo Ticket</a>
        </li>
        <li>
            <a href="tables.html"><i class="fa fa-fw fa-rocket"></i> Sprints</a>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-cogs"></i> Admin <i class="fa fa-fw fa-toggle-down"></i></a>
            <ul id="demo" class="collapse">
                <li>
                    <a href="tables.html"><i class="fa fa-fw fa-cubes"></i> Medidas</a>
                </li>
                <li>
                    <a href="tables.html"><i class="fa fa-fw fa-fire"></i> Prioridade</a>
                </li>
                <li>
                    <a href="tables.html"><i class="fa fa-fw fa-check"></i> Status</a>
                </li>
                <li>
                    <a href="tables.html"><i class="fa fa-fw fa-users"></i> Times</a>
                </li>
                <li>
                    <a href="tables.html"><i class="fa fa-fw fa-bar-chart"></i> Relatórios</a>
                </li>
            </ul>
        </li>
    </ul>
</div>

